body {
    padding-top: 50px;
}

header {
    margin: 10px 5px 5px 0;
    padding: 40px 15px;
    text-align: center;
    background-color: lightcyan;
    border: 2px black;
}

#startseite {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
}

#blog {
    background: #EFEFEF;
    border-radius: 20px;
    padding: 20px;
    border: 2px black;
    word-break: break-all;
    word-wrap: break-word;
}

.blogentry {
    background: #FEFEFE;
    border-radius: 10px;
    padding: 20px;
}

#content {
    margin: 20px 5px 5px 0;
    padding: 40px 15px;
    text-align: center;
}

footer {
    margin: 10px 5px 5px 0;
    padding: 40px 15px;
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.start {
    text-align: start;
}

